
<style>
        th, td{
    border: 1px solid black
    }
    </style>
    {% extends "layout/layout.html" %} {% block content %} {% if sta %} 
    <a> TITLE: /</a>  {{test_text}}
<br>
<br>
    <table>
    

      <tr>
        <th>id</th>
        <th>staffID</th>
        <th>staffname</th>
        <th>staffemail</th>
      </tr>
      {% for st in sta %}
      <tr>
        <td>{{st.id}}</td>
        <td>{{st.staffID}}</td>
        <td>{{st.staffname}}</td>
        <td>{{st.staffemail}}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
    {% endblock content %}
    