<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff</title>
    <style>
        th, td{
    border: 1px solid black
    }
    </style>
</head>
<body>
    <h1>Staff Members</h1>
    {% if sta %}
        <h1>Show data of staff members</h1>
        <h3>
            {% for st in sta %}
                {{ st }}
            {% endfor %}
        </h3>
    <table>
            <tr>
                <th>id</th>
                <th>staffID</th>
                <th>staffname</th>
                <th>staffemail</th>
            </tr>
        {% for st in sta %}
        <tr>
            <td>{{st.id}}</td>
            <td>{{st.staffID}}</td>
            <td>{{st.staffname}}</td>
            <td>{{st.staffemail}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <h1>Nothing here</h1>
    {% endif %}
        <b>Current Date : </b> {{current_date}}
        <br>
        <b>Formatted date: </b> {{format_date}}

</body> 
</html>